# docker-related
.env
!.env.sample
docker-compose.yaml
!.docker-compose.yaml

# pedscreen
*.properties
!*.sample.properties

# postgres
initdb.sql
!initdb.sample.sql

# bash
process.sh
!process.sample.sh
process.csv
!process.sample.csv
serial.sh
!serial.sample.sh

# make
Makefile
!Makefile.sample
